#title {
    text-align: left;
    background-color: #ff4c68;
    color: #fff;
}

.greet-msg {
    font-size: 3.3rem;
    line-height: 1.5;
    font-weight: 900;
}

h1, h2, h3 {
    font-family: 'Montserrat';
}

body {
    text-align: center;
}

.container-fluid {
    padding: 3% 15% 7%;
}

.price-text, .testimonial-text, .section-heading {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.5;
}

.navbar {
    padding: 0 0 4.5rem 0;
}

.navbar-brand {
    font-family: 'Ubuntu';
    font-size: 2rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 20px;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: 300;
}

.download-btn {
    margin: 5% 3% 5% 0;
}

i  {
    padding: 0 3px 0;
}

.title-image {
    width: 25%;
    transform: rotate(22deg);
    margin: 2rem 5rem;
    position: absolute;
    right: 16%;
}

@media (max-width: 1028px) {

    #title {
        text-align: center;
    }

    .title-image {
        position: static;
        width: 100%;
        margin: 2rem auto;
        transform: rotate(0deg);
    }
}

#features {
    padding: 7% 15%;
    position: relative;
    background-color: #fff;
}

.feature-title, .cta-text {
    font-size: 1.5rem;
    font-weight: bold;
}

.des-col {
    padding: 5%;
}

.des-head {
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 1.5rem;
}

.des-icon {
    color: #ef8172;
    padding: 3%;
}

.des-icon:hover {
    color: #ff4c68;
}

.des {
    color: #8f8f8f;;
}

#testimonials {
    background-color: #ef8172;
    color: #fff;
}

.carousel-item {
    padding: 7% 15%;    
}

.profile-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press {
    background-color: #ef8172;
    padding-bottom: 3%;
}

.press-image {
    width: 15%;
    margin: 20px 20px 50px;
}

#pricing {
    padding: 7% 12%;
}

.pricing-col {
    padding: 3% 2%;
}

.bod {
    text-align: start;
}

#cta {
    background-color: #ff4c68;
    padding: 7% 15%;
}

#cta-text {
    font-family: 'Montserrat';
    font-size: 3rem;
    color: #fff;
    margin-bottom: 2%;
}

#footer {
    background-color: #fff;
    padding: 3% 15%;
}

#copyright {
    margin-top: 10px;
    color: #8f8f8f;
}

.ii {
    margin: 0 8px;
}